@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  width: 100%;
  color: #929295;
  /* background: #151519; */
  background: radial-gradient(100% 100% at 50% 0%, #151519 0%, #101012 100%);
  overflow-x: hidden;
}

@keyframes landing-animate-in {
  0% {
    transform:translateY(-4px);
    opacity:0
  }
  to {
    transform:none;
    opacity:1
  }
}

@keyframes line-animate-in {
  0% {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes header-animate-in {
  0% {
    /* height: 0; */
    opacity: 0;
  }
  to {
    opacity: 1;
    /* height: 64px; */
  }
}

@keyframes vectors-animate-in {
  0% {
    /* height: 0; */
    opacity: 0;
  }
  to {
    opacity: 1;
    /* height: 64px; */
  }
}

.custom-animate-in {
  animation: landing-animate-in 1.2s cubic-bezier(.68,-.55,.265,1) both;
  will-change: transform
}

.animate-line-in {
  animation: line-animate-in 1.2s cubic-bezier(.68,-.55,.265,1) both;
  will-change: transform
}

.animate-header-in {
  animation: header-animate-in 1.2s cubic-bezier(.68,-.55,.265,1) both;
  will-change: transform
}

.animate-vectors-in {
  animation: vectors-animate-in 2.2s cubic-bezier(.68,-.55,.265,1) both;
  will-change: transform
}